<%- include('inc/top') %> 
            <nav aria-label="breadcrumb" style="margin-top: 10px;">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
              </nav>
            <div class=" col-12 col-md-2"></div>
            <div class="bg-info-subtle col-12 col-sm-8 col-md-8"></div>
            <div class="col-12 col-sm-4 col-md-2"></div>
           
<%- include('inc/bottom') %>               